---
title: Welcome
layout: default.liquid
headline: Helping Make the World a Brighter Place
tags:
  - nav
---

<header class="text-center">
    <h1 class="display-3">{{ headline }}</h1>
</header>

<div class="container">
    <div class="row">
        <div class="col my-5 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
            <p class="display-4 text-center">Hi, I'm Mike!</p>
            <p>I've lived with paralysis sinnce I broke my neck at seventeen.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col col-md-6 offset-md-3 offset-lg-4 col-lg-4 border border-primary rounded-3">
            <form action="https://formspree.io/f/xjvjvleb" method="post" class="row row-cols-1 g-3 m-3">
                <div class="text-center">
                    <h2>How can  I help?</h2>
                </div>
                <div>
                    <label for="name" class="form-label">Name</label>
                    <input type="name" class="form-control" name="name" id="name" required>
                </div>
                <div>
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" id="email" required>
                </div>
                <div>
                    <label for="tel" class="form-label">Telephone</label>
                    <input type="tel" class="form-control" name="tel" id="tel">
                </div>
                <div>
                    <label for="request" class="form-label">Request</label>
                    <textarea name="request" id="request" rows="6" class="form-control" required></textarea>
                </div>
                <div>
                    <input type="submit" class="form-control btn btn-primary" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>
