---
title: Portfolio
layout: home
headline: "Websites and Other Projects by Mike Ritter"
description: "I'm Mike Ritter. In almost 20 years of building websites and consulting friends and clients I've seen this industry go from a playground for hobbyists to an essential component of business, marketing, and building community. With today's cutting-edge design tools and eye-catching templates, almost anyone can launch a website. As a professional website designer I understand what makes a website perform and how to build it to suit a target audience. I build websites organically, focusing on understanding my clients' unique needs and collaboratively developing solutions to achieve their goals."
image: https://source.unsplash.com/tZc3vjPCk-Q/800x800
image-attribution: Photo by <a href="https://unsplash.com/@halacious?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">HalGatewood.com</a> on <a href="https://unsplash.com/s/photos/design?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
image-description: "Hand-drawn design elements"
tags:
  - nav
---
